---
import { AUTHOR_NAME } from '../config';
---

<footer class="mt-auto pt-4">
	<div
		class="mx-auto flex w-full max-w-3xl flex-wrap items-center justify-between bg-black bg-opacity-50 p-4 text-white"
	>
		<span>
			<a href="#TOP" class="text-white hover:text-gray-300">Back to top ^</a>
		</span>
		<span>&copy; {new Date().getFullYear()}{' '}{AUTHOR_NAME}</span>
	</div>
</footer>
