---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;
const isActive = href === Astro.url.pathname.replace(/\/$/, '');
---

<a
	href={href}
	class:list={[
		{ active: isActive },
		'inline-block px-4 py-3 font-semibold hover:bg-black/10',
		isActive ? 'bg-black/10' : 'bg-white/0',
		className,
	]}
	{...props}
>
	<slot />
</a>
