---
import HeaderLink from './header-link.astro';
import { AUTHOR_NAME, SITE_TITLE } from '../config';
---

<header class="border-t-8 border-green-light text-green-light px-4">
	<div class="max-w-3xl mx-auto w-full pt-24">
		<a
			href="/"
			class="font-display text-5xl uppercase text-center leading-[1.25]"
		>
			<h2>
				{SITE_TITLE}
			</h2>
		</a>
		<div class="pb-12 pt-8">
			<div
				class="flex text-lg flex-wrap border-b-8 border-green-light items-center justify-between"
			>
				<nav class="flex flex-wrap">
					<HeaderLink href="/facts">Facts</HeaderLink>
					<HeaderLink href="/videos">Videos</HeaderLink>
					<HeaderLink href="/tutorials">Tutorials</HeaderLink>
				</nav>
				<span>
					by {AUTHOR_NAME}
				</span>
			</div>
		</div>
	</div>
</header>
