---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { class: className, ...props } = Astro.props;
---

<main class:list={['px-4', className]} {...props}>
	<div class="max-w-3xl mx-auto bg-green-light w-full px-4 py-12 prose">
		<slot />
	</div>
</main>
