@import "sanitize.css";

:root {
  --color-background: #2271ff;
  --color-text: #fff;
  --font-system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  font-family: var(--font-system-ui);
  min-height: 100vh;
}

header {
  flex-shrink: 0;
}

@supports (padding: max(0px)) {
  header {
    padding-left: max(12px, env(safe-area-inset-left));
    padding-right: max(12px, env(safe-area-inset-right));
  }
}

main {
  flex: 1 0 auto;
}

@supports (padding: max(0px)) {
  main {
    padding-left: max(12px, env(safe-area-inset-left));
    padding-right: max(12px, env(safe-area-inset-right));
  }
}

footer {
  background-color: var(--color-text);
  color: var(--color-background);
  flex-shrink: 0;
}

@supports (padding: max(0px)) {
  footer {
    padding-left: max(12px, env(safe-area-inset-left));
    padding-right: max(12px, env(safe-area-inset-right));
  }
}
