/*======================================*\
    Add all imports here
\*======================================*/
@import "/imports/minireset.css";
@import "/imports/wysiwyg.css";

/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/*======================================*\
    Base styles: opinionated defaults
\*======================================*/

:root {
  --color-background: #fff;
  --color-text: #363636;
  --font-system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  font-family: var(--font-system-ui);
  font-size: 20px;
  min-height: 100vh;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/*======================================*\
    Author's custom styles
\*======================================*/

body {
  background: var(--color-background);
}

header {
  background: var(--color-background);
  margin: 4rem auto 2rem;
  max-width: 600px;
  width: 100%;
}

@supports (padding: max(0px)) {
  header {
    padding-left: max(12px, env(safe-area-inset-left));
    padding-right: max(12px, env(safe-area-inset-right));
  }
}

header h1 {
  font-weight: 900;
  text-transform: uppercase;
}

header hr {
  margin-top: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.25rem;
}

@media (max-width: 600px) {
  nav {
    display: block;
  }
}

nav a {
  color: inherit;
  font-weight: bold;
  margin-right: 0.5rem;
}

nav ul {
  list-style: none;
  margin: 0;
}

nav li {
  display: inline;
}

nav .active {
  border-bottom: 2px solid;
}

nav span {
  font-style: italic;
}

main {
  flex: 1 0 auto;
}

section {
  margin: 0 auto 4rem;
  max-width: 600px;
  width: 100%;
}

@supports (padding: max(0px)) {
  section {
    padding-left: max(12px, env(safe-area-inset-left));
    padding-right: max(12px, env(safe-area-inset-right));
  }
}

article {
  border-bottom: 2px solid #e6e6e6;
  margin: 0 auto 4rem;
  max-width: 600px;
  padding-bottom: 4rem;
  width: 100%;
}

article:last-child {
  border: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

@supports (padding: max(0px)) {
  article {
    padding-left: max(12px, env(safe-area-inset-left));
    padding-right: max(12px, env(safe-area-inset-right));
  }
}

.article-list {
  font-size: 80%;
}

footer {
  background-color: var(--color-text);
  color: var(--color-background);
  flex-shrink: 0;
  margin-top: 4rem;
}

footer ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
}

footer li {
  display: inline;
}

footer a {
  color: inherit;
}

@supports (padding: max(0px)) {
  footer li {
    padding-left: max(12px, env(safe-area-inset-left));
    padding-right: max(12px, env(safe-area-inset-right));
  }
}

/*============================================================*\
  EXAMPLE Media Queries for Responsive Design.
  These examples override the primary ('mobile first') styles.
  Modify as content requires.
\*============================================================*/

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/*============================================================*\
  Print styles.
  Inlined to avoid the additional HTTP request:
  https://www.phpied.com/delay-loading-your-print-css/
\*============================================================*/

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important; /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
